body {
  height: 100vh;
}

/* Input */
.task-input {
  outline: none;
  padding: 5px;
}

.task-input-container img {
  top: 0;
  right: 0;
}

.task {
  outline: none;
}

.icon {
  cursor: pointer;
}

.tasks-container {
  overflow-y: scroll;
}

.clear-btn-container {
  position: absolute;
  bottom: 0;
}

.delete{
  text-decoration: line-through;
}