/* Body */
body {
  height: 100vh;
}

/* Main */
main{
  /* max-height: 300px; */
  min-width: 300px;
}


/* Input */
.task-input {
  outline: none;
  padding: 5px;
}

.task-input-container img {
  top: 0;
  right: 0;
}

.task {
  outline: none;
}

.icon {
  cursor: pointer;
}

.tasks-container {
  /* border:1px solid red; */
  height:200px;
  overflow-y: scroll;
}

.delete {
  text-decoration: line-through;
}
